<header>
   <div class="header">
		<div class="header_inner">
			<!-- ハンバーガーボタン -->
			<button type="button" class="js-hamburger c-hamburger" aria-controls="global-nav" aria-expanded="false">
			<span class="c-hamburger_line"></span>
			<span class="c-hamburger_line"></span>
			<span class="c-hamburger_line"></span>
			<span class="u-visually-hidden"></span>
			</button>
			<ul class="gl_nav">
				<li><a href="/index.html">TOP</a>
				<li><a href="/news/index.html">NEWS</a></li>
				<li><a href="/business/index.html">BUSINESS DETAILS</a></li>
				<li><a href="/cosmetics/index.html">FREEZE-DRIED /COSMETICS</a></li>
				<li><a href="/supplement/index.html">SUPPLEMENT</a></li>
				<li><a href="/for_salons/index.html">FOR SALONS</a></li>
				<li><a href="/product/index.html">PRODUCTS</a></li>
				<li><a href="/company/index.html">COMPANY</a></li>
			</ul>
			<a class="shop_btn" href=""><img src="/img/shop-icon.png" alt="">ONLINESHOP</a>
		</div>
	</div>
</header>

<script>

</script>