<div class="product_bnr_wrapper">
   <div class="product_bnr_body bg-03">
      <div class="product_bnr_body_text_container">
         <h3 class="product_bnr_body_text shadow">初めての製造依頼に、強い。<br>SAMPLE COSMETICSの豊富な実績で、最適なご提案を。</h3>
         <%- include('includes/_module03.ejs') %>
      </div>
   </div>
</div>