<div class="product_bnr_wrapper">
   <div class="product_bnr_body bg-02">
      <div class="product_bnr_body_text_container">
         <h3 class="product_bnr_body_text shadow">毎日に寄り添う、確かな品質。</h3>
         <p class="product_bnr_body_text_sub shadow">-SAMPLE COSMETICSのオリジナル商品-</p>
         <%- include('includes/_module02.ejs') %>
      </div>
   </div>
</div>