@use "../global" as *;

.news_wrapper {

}

.news_title {
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   line-height: 1;
   @include media(pc) {
      font-size: 80px;
   }
   @include media(sp) {
      font-size: sp(40);
   }
}

.news_title_sub {
   color: #6F6F6F;
   @include media(pc) {
      font-size: 28px;
      margin-top: 7px;
   }
   @include media(sp) {
      font-size: sp(14);
      margin-top: sp(4);
   }
}

.n-category_label {
   font-weight: 700;
   color: #555;
   text-align: right;
   @include media(pc) {
      font-size: 18px;
      margin-bottom: 5px;
      margin-right: 900px;
      margin-top: 20px;
   }
   @include media(1340px) {
      margin-right: 410px;
   }
   @include media(sp) {
      font-size: sp(9);
      margin-bottom: sp(3);
      margin-top: sp(10);
      margin-right: sp(200);
   }
}

.n-category_list {
   display: grid;
   align-items: center;
   justify-content: flex-end;
   @include media(pc) {
      gap: 7px;
      margin-top: 20px;
      grid-template-columns: repeat(6, 160px);
   }
   @include media(1340px) {
      grid-template-columns: repeat(3, 160px);
   }
   @include media(sp) {
      gap: sp(4);
      margin-top: sp(10);
      grid-template-columns: repeat(3, sp(80));
   }
}

.n-category_list_item {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background-color: #111;
   @include media(pc) {
      width: 160px;
      border-radius: 25px;
      padding-block: 7px;
         &:hover {
         background-color: transparent;
            cursor: pointer;
         .n-category_list_item_link {
         color: #111;
         }
    }
   }
   @include media(sp) {
      padding-block: sp(4);
      width: sp(80);
      border-radius: sp(13);
   }
   &.current {
      background: transparent;
      border: 1px solid #111;
      cursor: default;
      pointer-events: none;
   }
   &:hover {
      background-color: transparent;
      border: 1px solid #111;
   }

}

.n-category_list_item_link {
   color: #fff;
   font-weight: 700;
   @include media(pc) {
      font-size: 15px;
   }
   @include media(sp) {
      font-size: sp(8);
   }
   &.current {
      color: #111;
      pointer-events: none;
   }
   &:hover {
      opacity: 1;
   }
}

.n-list_wrapper {
   @include media(pc) {
      margin-top: 50px;
   }
   @include media(sp) {
      margin-top: sp(25);
   }
}

.n-item {
   border-top: 1px solid #DDDDDD;
   position: relative;
   &:last-child {
      border-bottom: 1px solid #DDDDDD;
   }
   &_link {
      display: flex;
      align-items: center;
      @include media(pc) {
      &:hover {
         color: #000;
         opacity: 1;
         .n-item_title {
            color: #000;
        }
         .n-item_body {
            transform: translateX(10px);
         }
         .n-item_arrow {
            opacity: 1;
            transform: translateX(0);
         }
      }
   }
      @include media(pc) {
         gap: 30px;
         padding-block: 35px;
      }
      @include media(sp) {
         gap: sp(15);
         padding-block: sp(18);
      }
   }
   &_meta{
      display: flex;
      align-items: center;
      @include media(pc) {
         max-width: 200px;
         width: 100%;
         gap: 20px;
      }
      @include media(1080px) {
         flex-direction: column;
         gap: 10px;
         max-width: 100px;
      }
      @include media(sp) {
         max-width: sp(100);
         width: 100%;
         gap: sp(10);
      }
   }
   &_date {
      @include media(pc) {
         margin-top: 2px;
         font-size: 16px;
      }
      @include media(sp) {
         margin-top: sp(1);
         font-size: sp(8);
      }
   }
   &_title{
      color: #777;
      font-weight: 500;
      @include media(pc) {
         font-size: 16px;
         padding-right: 30px;
      }
      @include media(sp) {
         font-size: sp(8);
         padding-right: sp(15);
      }
   }
   &_category {
      display: inline-block;
      border: 1px solid #111;
      flex-shrink: 0;
      @include media(pc) {
         border-radius: 25px;
         font-size: 12px;
         padding: 2px 10px;
      }
      @include media(sp) {
         border-radius: sp(13);
         font-size: sp(6);
         padding: sp(1) sp(5);
      }
   }
   &_body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      transition: transform 0.4s ease;
      position: relative;
      @include media(pc) {
         padding-right: 20px;
      }
      @include media(sp) {
         padding-right: sp(10);
      }
   }
   &_arrow {
      height: 1px;
      background-color: #111;
      position: relative;
      transition: all 0.4s ease;
      flex-shrink: 0;
      right: 0;
      transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
      @include media(pc) {
         min-width: 40px;
         transform: translateX(-30px);
         opacity: 0;
      }
      @include media(sp) {
         min-width: sp(10);
         opacity: 1;
         width: sp(12);
         height: sp(12);
         border-radius: 50%;
         background-color: transparent;
         border: 1px solid #777;
         position: relative;
         transform: translateX(0);
      }
      &::after {
         content: "";
         position: absolute;
         transform: rotate(45deg);
         @include media(pc) {
            top: -7px;
            right: 2px;
            width: 15px;
            height: 15px;
            border-top: 1px solid #111;
            border-right: 1px solid #111;
         }
         @include media(sp) {
            border-top: 1px solid #777;
            border-right: 1px solid #777;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: sp(3);
            height: sp(3);
         }
      }
   }
}
