<%- include('includes/_head.ejs', { 
  title: 'SUPPLEMENT DEVELOPMENT', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>


<div class="sub-mv">
  <h1 class="sub-mv_hero_title">SUPPLEMENT DEVELOPMENT</h1>
  <p class="sub-mv_hero_title_sub">サプリメント開発</p>
  <p class="sub-mv_text spacer">あなたの想いを、“カラダで感じる”かたちに。
   <br>SAMPLE COSMETICSでは、健康や美容のニーズに合わせた<br class="pc">サプリメントのOEM／ODM開発を行っています。
   <br>高い保存性と、新鮮な使い心地を両立した<br class="sp">“次世代のスキンケア体験”をお届けします。</p>
</div>

<div class="gutter">
   <h2 class="section_title">FLEXIBILITY</h2>
   <p class="section_title_sub">最適な提案／柔軟な対応</p>
      <div class="flexibility_container">
         <div class="flexibility_item">
            <p class="flexibility_item_title">健康食品・美容分野に<br>特化した処方提案</p>
            <p class="flexibility_item_text">最新トレンドや成分特性に精通した開発チームが、<br class="br_1120"><br class="sp">市場性・コンセプトに合った商品設計をご提案。</p>
         </div>
         <div class="flexibility_item">
            <p class="flexibility_item_title">多様な剤形・<br>形状に対応</p>
            <p class="flexibility_item_text">目的やターゲットに応じて、最適な製品タイプをご提案可能。</p>
         </div>
         <div class="flexibility_item">
            <p class="flexibility_item_title">小ロット・短納期にも<br>柔軟対応</p>
            <p class="flexibility_item_text">テスト販売や限定商品にも対応できる、小ロットからの製造体制を整えています。</p>
         </div>
      </div>
</div>

<div class="gutter">
   <h2 class="section_title">PRODUCT LIST</h2>
   <p class="section_title_sub">製品アイテム一覧</p>
   <p class="product-list_text">SAMPLE COSMETICSでは、以下のような多様な剤形のサプリメント製造が可能です。
      <br>商品のコンセプトや摂取シーンに応じた最適な形をご提案いたします。</p>
      <div class="product-list_grid_container">
         <div class="product-list_grid_item">
            <img src="/img/dummy.png" alt="">
            <p class="product-list_grid_item_lineup">錠剤タイプ（タブレット）</p>
            <p class="product-list_grid_item_text">小粒で飲みやすく、コストパフォーマンスにも優れた定番形状。機能性表示食品にも対応可能。</p>
         </div>
         <div class="product-list_grid_item">
            <img src="/img/dummy.png" alt="">
            <p class="product-list_grid_item_lineup">顆粒・粉末タイプ</p>
            <p class="product-list_grid_item_text">水に溶かして飲む、あるいは直接摂取するスタイルに最適。味の設計も自在です。</p>
         </div>
         <div class="product-list_grid_item">
            <img src="/img/dummy.png" alt="">
            <p class="product-list_grid_item_lineup">ドリンクタイプ</p>
            <p class="product-list_grid_item_text">即効性や吸収率を意識したドリンクタイプ。美容成分やエナジー系の配合に人気です。</p>
         </div>
         <div class="product-list_grid_item">
            <img src="/img/dummy.png" alt="">
            <p class="product-list_grid_item_lineup">ゼリータイプ</p>
            <p class="product-list_grid_item_text">楽しく美味しく摂取できる新しいスタイル。お子様や女性向け、美容訴求にもおすすめです。</p>
         </div>
         <div class="product-list_grid_item">
            <img src="/img/dummy.png" alt="">
            <p class="product-list_grid_item_lineup">カプセルタイプ</p>
            <p class="product-list_grid_item_text">成分の匂いや味を抑えたい場合に最適。植物性ハードカプセルなども対応可能です。</p>
         </div>
      </div>
</div>

<div class="gutter">
   <h2 class="section_title_gothic">こんなニーズにお応えします</h2>
     <div class="supplement_needs_list">
         <div class="supplement_needs_item">
            <div class="check_mark"><span class="material-symbols-outlined check">check</span></div>
            <p class="supplement_needs_item_text">美容・健康・ダイエットなどの特化型サプリを作りたい</p>
         </div>
         <div class="supplement_needs_item">
            <div class="check_mark"><span class="material-symbols-outlined check">check</span></div>
            <p class="supplement_needs_item_text">市場トレンドを取り入れた新商品を開発したい</p>
         </div>
         <div class="supplement_needs_item">
            <div class="check_mark"><span class="material-symbols-outlined check">check</span></div>
            <p class="supplement_needs_item_text">ECやサロン販路向けにオリジナル商品を展開したい</p>
         </div>
         <div class="supplement_needs_item">
            <div class="check_mark"><span class="material-symbols-outlined check">check</span></div>
            <p class="supplement_needs_item_text">小ロット・短納期でテスト販売してみたい</p>
         </div>
      </div>
</div>

<%- include('includes/_product_bnr01.ejs') %>
<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>

<%- include('includes/_footer.ejs') %>
