<%- include('includes/_head.ejs', { 
  title: 'トップページ', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>

<div class="sub-mv">
  <h1 class="sub-mv_hero_title">BUSINESS DETAILS</h1>
  <p class="sub-mv_hero_title_sub">事業内容</p>
  <p class="sub-mv_text_title">理想の製品づくりを、
    <br>信頼の技術と提案力でサポート。</p>
  <p class="sub-mv_text">OEM・ODMを中心に、<br class="sp">企画から開発・製造・品質管理まで一貫して対応。
    <br>初めての製品開発でも<br class="sp">安心してご相談いただける体制を整えています。</p>
</div>

<div class="gutter">
  <div class="contents_container">
    <div class="contents_text_box">
      <h3 class="contents_title" id="ODM">ODM</h3>
      <p class="contents_text">企画から量産化まで、まるごとお任せいただけます。
        <br>お客様のご要望に応じて、企画・成分・形状・デザインまでトータルでご提案。
        <br>マーケットトレンドや販路を見据えた、“売れる商品設計”を心がけています。
        <br>化粧品やサプリメントの開発が初めての方にもわかりやすく丁寧にご案内します。</p>
    </div>
    <div class="contents_image_box"><img src="/img/dummy.png" alt="" class="contents_image"></div>
  </div>
</div>

<div class="gutter">
  <div class="contents_container reverse">
    <div class="contents_text_box">
      <h3 class="contents_title">OEM</h3>
      <p class="contents_text">ご希望の仕様に沿った確かな製造体制。
        <br>お客様からご提示いただいた処方や設計に基づき、確かな品質と技術力で形にするOEM対応も承っております。
        <br>小ロットからの柔軟な対応も可能ですので、まずはお気軽にご相談ください。</p>
    </div>
    <div class="contents_image_box"><img src="/img/dummy.png" alt="" class="contents_image"></div>
  </div>
</div>

<div class="gutter">
  <div class="business_service_wrapper">
    <h2 class="section_title">SERVICE</h2>
    <p class="section_title_sub">提供可能なサービス</p>
    <div class="business_service_flex_list">

      <div class="business_service_flex_item">
        <img src="/img/circle.png" alt="" class="circle_image">
        <h4 class="business_service_flex_item_title">PLAN</h4>
        <p class="business_service_flex_item_title_sub">企画</p>
        <p class="business_service_flex_item_text">市場ニーズやターゲットに応じた、企画提案型の製品づくり。
          <br>アイデア段階からのご相談にも、経験豊富なチームが対応します。</p>
      </div>

      <div class="business_service_flex_item">
        <img src="/img/circle.png" alt="" class="circle_image">
        <h4 class="business_service_flex_item_title">RESEARCH/DEVELOPENT</h4>
        <p class="business_service_flex_item_title_sub">研究/開発</p>
        <p class="business_service_flex_item_text">最新の皮膚科学・化粧品科学に基づき、安全性と有効性の高い処方を研究開発。
          <br>独自の視点で差別化された機能性商品をご提案します。</p>
      </div>

      <div class="business_service_flex_item">
        <img src="/img/circle.png" alt="" class="circle_image">
        <h4 class="business_service_flex_item_title">PRODUCTION</h4>
        <p class="business_service_flex_item_title_sub">生産</p>
        <p class="business_service_flex_item_text">最新鋭の製造設備と安定した技術力で、常に均一な製品を生産。
        <br>全ての工程を一貫して行い、高品質な商品を安定供給します。</p>
      </div>

      <div class="business_service_flex_item">
        <img src="/img/circle.png" alt="" class="circle_image">
        <h4 class="business_service_flex_item_title">QUALITY CONTROL</h4>
        <p class="business_service_flex_item_title_sub"> 品質管理</p>
        <p class="business_service_flex_item_text">原料段階から完成品に至るまで、厳格な品質基準に基づく検査を実施。
          <br>安心・安全な商品をお届けするための徹底した管理体制を構築しています。</p>
      </div>

    </div>
  </div>
</div>

<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>

<%- include('includes/_footer.ejs') %>
