<%- include('includes/_head.ejs', { 
  title: 'COMPANY INFO｜会社概要', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>

<div class="sub-mv">
  <h1 class="sub-mv_hero_title">COMPANY INFO</h1>
  <p class="sub-mv_hero_title_sub">会社概要</p>
</div>

<div class="gutter">
   <div class="company-info_wrapper">
      <section id="company_wrapper">
         <div class="company_container_left">
            <h2 class="section_title">COMPANY INFO</h2>
            <p class="section_title_sub">会社概要</p>
         </div>
         <dl class="company_list">
            <div class="company_list_row">
               <dt class="compnay_list_term">会社名</dt>
               <dd class="company_list_desc">SAMPLE COSMETICS株式会社</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">所在地</dt>
               <dd class="company_list_desc">〒●●●-●●●●<br>●●●●●●●●●　●●●</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">TEL</dt>
               <dd class="company_list_desc">●●●-●●●●</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">FAX</dt>
               <dd class="company_list_desc">●●●-●●●●</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">設立</dt>
               <dd class="company_list_desc">1999年10月18日</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">資本金</dt>
               <dd class="company_list_desc">1,000万円</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">役員</dt>
               <dd class="company_list_desc">代表取締役　●●　●●</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">事業内容</dt>
               <dd class="company_list_desc">1.　化粧品、健康食品の製造・販売<br>2.　化粧品、健康食品の輸出</dd>
            </div>
            <div class="company_list_row">
               <dt class="compnay_list_term">取引銀行</dt>
               <dd class="company_list_desc">●●銀行　●●支店</dd>
            </div>
               <dd class="company_list_image"><img src="/img/dummy02.png"></dd>
         </dl>
      </section>

      <section class="message_wrapper">
         <div class="company_container_left">
            <h2 class="section_title">MESSAGE</h2>
            <p class="section_title_sub">代表挨拶</p>
         </div>
         <div class="message_container_right">
            <h3 class="message_title">時代に寄り添い、確かな品質をカタチに</h3>
            <p class="message_text">多様なニーズが交錯する現代において、単なる制作にとどまらない“ものづくりのパートナー”として、技術の研鑽と柔軟な発想でプロジェクトを支えます。</p>
            <p class="message_text">製造・実装の視点から常に市場の動向を注力し、将来的な展開も見据えた持続性の高い設計・開発を追求しています。</p>
            <p class="message_text">徹底した品質管理と誠実な対応を軸に、手に取る方、目にする方に価値を感じていただけるものづくりを続けてまいります。</p>
         </div>
      </section>

      <section class="history_wrapper">
         <div class="company_container_left">
            <h2 class="section_title">HISTORY</h2>
            <p class="section_title_sub">沿革</p>
         </div>
         <div class="history_container_right">
            <dl class="company_history_list">
               <dt class="company_history_year">1999.10.18</dt>
               <dd class="company_history_body">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </dl>
            <dl class="company_history_list">
               <dt class="company_history_year">1999.10.18</dt>
               <dd class="company_history_body">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </dl>
            <dl class="company_history_list">
               <dt class="company_history_year">1999.10.18</dt>
               <dd class="company_history_body">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </dl>
            <dl class="company_history_list">
               <dt class="company_history_year">1999.10.18</dt>
               <dd class="company_history_body">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </dl>
            <dl class="company_history_list">
               <dt class="company_history_year">1999.10.18</dt>
               <dd class="company_history_body">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</dd>
            </dl>
         
         </div>
      </section>


   </div>
</div>


<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>

<%- include('includes/_footer.ejs') %>