@use "../global" as *;


.bnr_btn {
	font-family: "Roboto";
	line-height: 3;
	letter-spacing: 0.1em;
	border-radius: 25px;
	background-color: #000;
	border: solid 1px #000;
   transition: transform 0.3s ease;
   transform-origin: center;
   @include media(pc) {
      margin-top: 30px;
      max-width: 270px;
      width: 100%;
      font-size: 15px;
   }
   @include media(sp) {
      margin-top: sp(15);
      font-size: sp(8);
      width: sp(150);
   }
   &:hover {
      opacity: 1;
      background-color: #fff;
      border-color: #000;
   }
}

.bnr_btn_text {
   color: #fff;
   display: flex;
	justify-content: space-between;
   align-items: center;
	font-weight: bold;
   white-space: nowrap;
   @include media(pc) {
      padding-inline: 20px;
   }
   @include media(sp) {
      padding-inline: sp(10);
   }
   &:hover {
      color: #000;
      &::after {
         border-color: #000;
      }
   }
   &::after {
      content:"";
      width: 10px;
      height: 10px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      margin-left: 10px;
      @include media(sp) {
         width: sp(6);
         height: sp(6);
      }
   }
}

.contact_btn {
  color: #fff;
  font-weight: bold;
  font-family: "Roboto";
  border: 1px solid #fff;
  border-radius: 25px;
  text-align: center;
  @include media(pc) {
    font-size: 16px;
    padding-block: 10px;
    padding-inline: 15px;
    width: 170px;
    margin-top: 30px;
  }
  @include media(sp) {
    font-size: sp(8);
    padding-block: sp(5);
    padding-inline: sp(8);
    width: sp(85);
    margin-top: sp(15);
  }
}