<%- include('includes/_head.ejs', { 
  title: 'NEWS｜お知らせ', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>

<div class="gutter">
   <main class="l-main">
      <article class="p-entry">
         <header class="p-entry_header">
            <h1 class="p-entry_title">次世代フリーズドライ美容液「SAMPLE SERUM」が発売されました。</h1>
            <div class="p-entry_meta">
               <time datetime="2026-03-26" class="p-entry_date">2026.03.26</time>
               <span class="p-entry_category">新商品</span>
            </div>
         </header>
         <div class="p-entry_thumbnail">
            <img src="/img/dummy03.png" alt="これはダミーです">
         </div>
         <div class="p-entry_body">
            <h2 class="p-entry_label">SAMPLE SERUM</h2>
            <p class="p-entry_text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
         </div>
         <div class="p-entry_thumbnail">
            <img src="/img/dummy03.png" alt="これはダミーです">
         </div>
         <div class="p-entry_body">
            <h2 class="p-entry_label">SAMPLE SERUM</h2>
            <p class="p-entry_text">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
         </div>
         <footer class="p-entry_footer">
            <div class="p-entry_btn-wrap">
               <div class="p-entry_btn-back">
                  <a href="#" class="p-entry_btn_link">新商品</a>
               </div>
               <div class="p-entry_btn-back">
                  <a href="#" class="p-entry_btn_link">一覧へ戻る</a>
               </div>
            </div>
         </footer>
      </article>
   </main>
</div>
<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>
<%- include('includes/_footer.ejs') %>