<%- include('includes/_head.ejs', { 
  title: 'トップページ', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>

<div class="mv">
  <img src="img/top.png" class="mv_image" alt="SAMPLE COSMETICSの公式サイト">
  <h1 class="hero_title"></h1><!--画像修正後h1挿入-->
</div>
<div class="gutter">
  <div id="ouredge_container">
    <h2 class="section_title">OUR EDGE</h2>
    <p class="section_title_sub">私たちの強み</p>
    <div class="ouredge_list">
      <div class="ouredge_list_item">
        <p class="ouredge_list_item_text">多ジャンルへの<br>処方提案力</p>
        <p class="ouredge_list_item_text_sub">FORMULATION VERSATILITY</p>
      </div>
      <div class="ouredge_list_item">
        <p class="ouredge_list_item_text">小ロット対応の<br>柔軟性</p>
        <p class="ouredge_list_item_text_sub">FLEXIBLE LOTS</p>
      </div>
      <div class="ouredge_list_item">
        <p class="ouredge_list_item_text">独自の<br>フリーズドライ製法</p>
        <p class="ouredge_list_item_text_sub">FREEZE-DRY TECH</p>
      </div>
      <div class="ouredge_list_item">
        <p class="ouredge_list_item_text">トレンド先取りの<br>原料提案</p>
        <p class="ouredge_list_item_text_sub">TREND LNGREDIENTS</p>
      </div>
    </div>
  </div>
</div>

<div class="gutter">
  <div id="development_wrapper">
    <div class="development_container_left">
      <h2 class="section_title">DEVELOPMENT FLOW</h2>
      <p class="section_title_sub">開発フロー</p>
      <div class="development_container_left_flex">
        <p class="development_container_left_text">SAMPLE COSMETICSはヒアリングから<br>
        試作、製造、納品後のフォローまで、<br>
        お客様の理想を一貫してサポートします。</p>
        <a href="business/" class="link_detail">View more</a>
      </div>
    </div>

    <div class="development_container_right">
      <div class="development_container_list_item">
        <div class="development_container_list_item_circle">1</div>
        <div class="development_container_list_item_inner">
          <p class="development_container_list_item_inner_title">ヒアリング</p>
          <p class="development_container_list_item_inner_text">製品の方向性やご要望を丁寧に伺い、初回から具体的な企画を詰めていきます。</p>
        </div>
      </div>
      <div class="development_container_list_item">
        <div class="development_container_list_item_circle">2</div>
        <div class="development_container_list_item_inner">
          <p class="development_container_list_item_inner_title">試作・お見積り</p>
          <p class="development_container_list_item_inner_text">処方に基づいた試作品と、最適なロット数に応じた複数のお見積りをご提示します。</p>
        </div>
      </div>
      <div class="development_container_list_item">
        <div class="development_container_list_item_circle">3</div>
        <div class="development_container_list_item_inner">
          <p class="development_container_list_item_inner_title">ご発注・使用確定</p>
          <p class="development_container_list_item_inner_text">中身・容器・パッケージなどを決定。ご希望に応じて容器ショールームでの打ち合わせも可能です。</p>
        </div>
      </div>
      <div class="development_container_list_item">
        <div class="development_container_list_item_circle">4</div>
        <div class="development_container_list_item_inner">
          <p class="development_container_list_item_inner_title">製造・検査</p>
          <p class="development_container_list_item_inner_text">オリジナル容器や原料の手配を行い、製品検査・品質チェックを実施します。</p>
        </div>
      </div>
      <div class="development_container_list_item">
        <div class="development_container_list_item_circle">5</div>
        <div class="development_container_list_item_inner">
          <p class="development_container_list_item_inner_title">納品・アフターサポート</p>
          <p class="development_container_list_item_inner_text">ご指定場所への納品後も、リピートや改善のご相談に継続対応します。</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="gutter">
  <div class="nav_grid">

  <a href="business/">
    <div class="nav_grid_item">
      <img src="/img/business.png" class="nav_grid_item_img" alt="">
        <div class="nav_grid_inner">
          <div class="nav_grid_inner_body">
            <p class="nav_grid_text">BUSINESS CONTENT</p>
            <p class="nav_grid_text_sub">事業内容</p>
          </div>
          <div class="arrow"></div>
        </div>
    </div>
    </a>

  <a href="cosmetics/">
    <div class="nav_grid_item">
      <img src="/img/cosume.png" class="nav_grid_item_img" alt="">
        <div class="nav_grid_inner">
          <div class="nav_grid_inner_body">
            <p class="nav_grid_text">FREEZE-DRIED</p>
            <p class="nav_grid_text_sub">フリーズドライ製法</p>
          </div>
          <div class="arrow"></div>
        </div>
    </div>
    </a>

  <a href="supplement/">
    <div class="nav_grid_item">
      <img src="/img/supplement.png" class="nav_grid_item_img" alt="">
        <div class="nav_grid_inner">
          <div class="nav_grid_inner_body">
            <p class="nav_grid_text">SUPPLEMENT</p>
            <p class="nav_grid_text_sub">サプリメント開発</p>
          </div>
          <div class="arrow"></div>
        </div>
    </div>
    </a>

  <a href="for_salons/">
    <div class="nav_grid_item">
      <img src="/img/salon.png" class="nav_grid_item_img" alt="">
        <div class="nav_grid_inner">
          <div class="nav_grid_inner_body">
            <p class="nav_grid_text">FOR SALONS</p>
            <p class="nav_grid_text_sub">サロン様に向けて</p>
          </div>
          <div class="arrow"></div>
        </div>
    </div>
  </a>
    
  </div>
</div>

<div class="gutter">
  <div class="news_wrapper">
    <div class="news_title_container">
      <div class="news_title">
        <h2 class="section_title">NEWS</h2>
        <p class="section_title_sub">お知らせ</p>
      </div>
      <div class="news_detail">
        <a href="" class="link_detail">View all</a>
      </div>
    </div>
    <div class="news_list">

      <div class="news_list_item">
        <p class="news_date">2026.5.1</p>
        <p class="news_text">〇〇〇〇〇〇〇〇サイトオープンしました。</p>
      </div>

      <div class="news_list_item">
        <p class="news_date">2026.5.1</p>
        <p class="news_text">〇〇〇〇〇〇〇〇サイトオープンしました。</p>
      </div>

      <div class="news_list_item">
        <p class="news_date">2026.5.1</p>
        <p class="news_text">〇〇〇〇〇〇〇〇サイトオープンしました。</p>
      </div>
    </div>
  </div>
</div>

<%- include('includes/_product_bnr01.ejs') %>
<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>

<%- include('includes/_footer.ejs') %>
