<%- include('includes/_head.ejs', { 
  title: 'PRODUCTS｜製造実績', 
  description: 'SAMPLE COSMETICSの公式サイトです。フリーズドライ製法による化粧品開発を行っています。' 
}) %>

<%- include('includes/_header.ejs') %>

<div class="sub-mv">
  <h1 class="sub-mv_hero_title">PRODUCTS</h1>
  <p class="sub-mv_hero_title_sub">製造実績</p>
  <p class="sub-mv_text spacer">“確かな技術と、企画力の結晶”
   <br>私たちSAMPLE COSMETICSが、自信を持ってお届けする自社製品ラインナップ。
   <br>厳選した原料と設計思想をもとに、製造ノウハウを活かしたアイテムをご紹介します。</p>
</div>

<div class="gutter">
   <h2 class="section_title">PRODUCT LINEUP</h2>
   <p class="section_title_sub">製品ラインナップ</p>
   <div class="product_lineup_container">

      <div class="product_lineup_item">
         <div class="product_lineup_item_image"><img src="/img/dummy02.png" alt=""></div>
         <div class="product_lineup_item_body">
            <h3 class="product_lineup_item_name">商品名A</h3>
            <p class="product_lineup_item_desc">商品説明がはいりますサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
            <div class="product_lineup_item_ingredients">
               <ul class="product_lineup_item_ingredients_list">
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="product_lineup_item">
         <div class="product_lineup_item_image"><img src="/img/dummy02.png" alt=""></div>
         <div class="product_lineup_item_body">
            <h3 class="product_lineup_item_name">商品名A</h3>
            <p class="product_lineup_item_desc">商品説明がはいりますサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
            <div class="product_lineup_item_ingredients">
               <ul class="product_lineup_item_ingredients_list">
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="product_lineup_item">
         <div class="product_lineup_item_image"><img src="/img/dummy02.png" alt=""></div>
         <div class="product_lineup_item_body">
            <h3 class="product_lineup_item_name">商品名A</h3>
            <p class="product_lineup_item_desc">商品説明がはいりますサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
            <div class="product_lineup_item_ingredients">
               <ul class="product_lineup_item_ingredients_list">
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="product_lineup_item">
         <div class="product_lineup_item_image"><img src="/img/dummy02.png" alt=""></div>
         <div class="product_lineup_item_body">
            <h3 class="product_lineup_item_name">商品名A</h3>
            <p class="product_lineup_item_desc">商品説明がはいりますサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
            <div class="product_lineup_item_ingredients">
               <ul class="product_lineup_item_ingredients_list">
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
                  <li class="product_lineup_item_ingredients_list_item">・成分など</li>
               </ul>
            </div>
         </div>
      </div>

   </div>
</div>

<div class="gutter">
   <div class="product_lineup_bottom">
   <%- include('includes/_module02.ejs') %>
   </div>
</div>

<%- include('includes/_product_bnr02.ejs') %>
<%- include('includes/_product_bnr03.ejs') %>

<%- include('includes/_footer.ejs') %>
